<div class="row">
    <div class="column col-md-12">
        <div style="margin-bottom: 10px;" class="text-right">
            <button class="btn btn-primary" type="button" (click)="showGarageAdd();">
                <i class="fa fa-plus"></i> 添加
            </button>
        </div>
        <div>
            <ngx-datatable 
            	class="material" 
            	[headerHeight]="50"
            	[rows]="rows" 
            	[rowHeight]="'auto'"
            	[columns]="columns" 
            	[limit]="8" 
            	[columnMode]="'force'"
            	(rowContextmenu)="onContextmenu($event);"
            	[footerHeight]="50"></ngx-datatable>
        </div>
    </div>
</div>
