<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
    <a class="navbar-brand" href="#"></a>
    <ul class="nav navbar-nav hidden-md-down">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
        </li>
    </ul>
</header>

<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
                </li>
                <li class="divider"></li>
                <li class="nav-title">smst後臺管理</li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active">
                        <i class="icon-people"></i>
                        客戶管理
                    </a>
                </li>
                <li class="nav-item nav-dropdown" routerLinkActive="open">
                    <a href="#" class="nav-link nav-dropdown-toggle">
                        <i class="icon-map"></i>
                        地圖管理
                    </a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-time">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/garage/garage-list']">
                                <i class="icon-map"></i>
                                地圖數據管理        
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active">
                                <i class="icon-map"></i>
                                地圖展示
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active">
                        <i class="icon-user"></i>
                        用戶管理
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <breadcrumbs></breadcrumbs>
        </ol>

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <!-- /.conainer-fluid -->
    </main>
</div>

<footer class="app-footer">
    <a href="http://coreui.io">CoreUI</a> &copy; 2017 creativeLabs.
    <span class="float-right">Powered by <a href="http://coreui.io">CoreUI</a>
    </span>
</footer>
