<!-- <div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="primaryModal.hide()">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->
<h1 md-dialog-title>添加车库</h1>
<div md-dialog-content>
	<form class="example-form">
	  <md-input-container class="example-full-width">
	    <input mdInput placeholder="Company (disabled)" disabled value="Google">
	  </md-input-container>

	  <table class="example-full-width" cellspacing="0"><tr>
	    <td><md-input-container class="example-full-width">
	      <input mdInput placeholder="First name">
	    </md-input-container></td>
	    <td><md-input-container class="example-full-width">
	      <input mdInput placeholder="Long Last Name That Will Be Truncated">
	    </md-input-container></td>
	  </tr></table>

	  <p>
	    <md-input-container class="example-full-width">
	      <textarea mdInput placeholder="Address">1600 Amphitheatre Pkwy</textarea>
	    </md-input-container>
	    <md-input-container class="example-full-width">
	      <textarea mdInput placeholder="Address 2"></textarea>
	    </md-input-container>
	  </p>

	  <table class="example-full-width" cellspacing="0"><tr>
	    <td><md-input-container class="example-full-width">
	      <input mdInput placeholder="City">
	    </md-input-container></td>
	    <td><md-input-container class="example-full-width">
	      <input mdInput placeholder="State">
	    </md-input-container></td>
	    <td><md-input-container class="example-full-width">
	      <input mdInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
	      <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
	    </md-input-container></td>
	  </tr></table>
	</form>
</div>
<div md-dialog-actions class="pull-right">
  <button md-button md-dialog-close>取&nbsp;&nbsp;消</button>
  <button style="margin-left: 10px;" md-button (click)="dialogRef.close('Option 2')">保&nbsp;&nbsp;存</button>
</div>

